@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F6F7;
  padding-top: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  display: inline-block;
  border: .15em solid rgba(0, 0, 0, 0.1);
  border-left-color: white;
  border-radius: 50%;
  animation: donut-spin 1.1s linear infinite;
  transform: translateY(0);
}
.App {
  display: flex;
  justify-content: center;
}
.jobs-list {
  max-width: 960px;
  width: 100%;
}
.jobs-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.jobs-list__title {
  font-size: 25px;
  font-weight: 900;
}
.jobs-list__results {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}
.jobs-list__item {
  list-style-type: none;
  padding: 22px;
  width: 20%;
  background-color: white;
  border-radius: 6px;
  margin: 0 0.2% 20px;
}
.jobs-list__icon {
  width: 36px;
  height: auto;
  margin-right: 15px;
}
.jobs-list__item-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: .4em;
}
.jobs-list__metadata {
  line-height: 1.4em;
  font-size: 12px;
  color: #627884;
}
.job-list__item-content {
  display: flex;
  align-items: flex-start;
  height: 5em;
  margin-bottom: 1.3em;
}
.job-list__actions {
  text-align: center;
  margin-bottom: .5em;
}
.job-list__actions button {
  border: 1px solid #0093D3;
  line-height: 2.8em;
  padding: 0 1.2em;
  color: #627884;
  border-radius: 6px;
  background: transparent;
  cursor: pointer;
}
